@font-face {
    font-family: 'new-yorker';
    src: url('NEWYORKR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'new-yorker-engraved';
    src: url('NEWYRKEN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}